.form {
    &__logo {
        width: 80px;
        margin: 0 auto;
        display: block;
    }

    &__error {
        p {
            color: red;
            margin: 0;
            font-size: 12px;
        }
    }

    &--login,
    &--register {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        max-width: 100%;
        width: 500px;
        margin: 0 auto;
        background-color: #fff;
        padding: 15px 45px;
        box-shadow: 3px 3px 8px #ddd;
        border-radius: 5px;
    }
}
