// bootstrap package
@import '../../node_modules/bootstrap/scss/bootstrap';

@import './global/variable.scss';

body {
  background-color: #fbfbfb;
}

.main-adjustment {
  position: relative;
  padding: 100px 15px 15px 15px;

  @include media-breakpoint-up(sm) {
    margin-left: 250px;
  }
}
